@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "vazir";
        font-weight: 400;
        font-style: normal;
        src: url("/public/assets/fonts/Vazir.woff") format("woff");
      }
      
      @font-face {
        font-family: "vazir";
        font-weight: 700;
        font-style: normal;
        src: url("/public/assets/fonts/Vazir-Bold.woff") format("woff");
      }
}


